@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline");

html, body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Bungee Hairline", cursive;
}

body {
  background-color: #112;
}

.button {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  outline: none;
  transition: all 300ms;
  background-color: white;
}

.button:hover {
  transform: scale(1.1);
}

#backButton {
  background: white url("https://firebasestorage.googleapis.com/v0/b/chris-rohr.appspot.com/o/codepen%2FGalactic_Empire_emblemIcon.png?alt=media&token=e00975c9-4f10-40fc-862a-3d8ecdc6ad02") no-repeat center;
  background-size: 48px 48px;
}

#nextButton {
  background: white url("https://firebasestorage.googleapis.com/v0/b/chris-rohr.appspot.com/o/codepen%2FRebel_Alliance_logoIcon.png?alt=media&token=ffd9eccf-ed00-4556-bd53-d82832cca412") no-repeat center;
  background-size: 48px 48px;
}

.buttonContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: calc(50% - 56px/2);
  width: calc(100% - 256px);
  padding: 0 128px;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .buttonContainer {
    top: calc(90% - 56px);
    padding: 0 32px;
    width: calc(100% - 64px);
  }
}

.container {
  margin: auto;
  height: 100%;
  width: 100%;
}

.img {
  margin: auto 16px;
  object-fit: contain;
  transition: transform 300ms;
}

.img:hover {
  transform: scale(1.1);
}

.item {
  height: 90%;
  width: 90%;
}

.slide {
  position: absolute;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 500ms;
}

.slideContainer {
  height: calc(100vh - 32px);
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  perspective: 5000px;
}

@media only screen and (max-width: 1200px) {
  .slideContainer { perspective: 3000px; }
}

@media only screen and (max-width: 600px) {
  .slideContainer { perspective: 1500px; }
}

#starField {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.text {
  padding: 0 16px;
  transition: opacity 1s;
}

.title {
  font-size: 2rem;
  color: white;
  line-height: 2rem;
}

.year {
  font-size: 1.5rem;
  color: white;
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .year {
    font-size: 1rem;
  }
}
