<div id="container" class="container">
  <svg id="starField"></svg>

 

  <div id="slideContainer" class="slideContainer">
    <div
      class="slide"
      *ngFor="let movie of movies; let i = index"
      [style.transform]="transform[i]"
      [style.zIndex]="zIndex[i]">

      <div class="item">
        <img class="img" [src]="movie.Poster" [alt]="movie.Title" />
        <div class="text" [style.opacity]="index === i ? 1 : 0">
          <h1 class="title">{{ movie.Title }}</h1>
          <h2 class="year">{{ movie.Year }}</h2>
        </div>
      </div>
    </div>
  </div>


   <div class="buttonContainer">
    <button
      id="backButton"
      (click)="onChange(-1)"
      class="button"
      aria-label="back_button">
    </button>

    <button
      id="nextButton"
      (click)="onChange(1)"
      class="button"
      aria-label="next_button">
    </button>
  </div>
</div>
